/******************************************************************************
 * Content
 ******************************************************************************/

@font-face {
  font-display: swap;
  font-family: "bmwTypeNextWeb";
  font-style: normal;
  font-weight: 300;
  src:
    url("https://www.bmw.ca/etc.clientlibs/bmw-web/clientlibs/clientlib-site/resources/fonts/BMWTypeNext-Light.woff2") format("woff2"),
    url("https://www.bmw.ca/etc.clientlibs/bmw-web/clientlibs/clientlib-site/resources/fonts/BMWTypeNext-Light.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "bmwTypeNextWeb";
  font-style: normal;
  font-weight: 400;
  src:
    url("https://www.bmw.ca/etc.clientlibs/bmw-web/clientlibs/clientlib-site/resources/fonts/BMWTypeNext-Regular.woff2") format("woff2"),
    url("https://www.bmw.ca/etc.clientlibs/bmw-web/clientlibs/clientlib-site/resources/fonts/BMWTypeNext-Regular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "bmwTypeNextWeb";
  font-style: normal;
  font-weight: 500;
  src:
    url("https://www.bmw.ca/etc.clientlibs/bmw-web/clientlibs/clientlib-site/resources/fonts/BMWTypeNext-Medium.woff2") format("woff2"),
    url("https://www.bmw.ca/etc.clientlibs/bmw-web/clientlibs/clientlib-site/resources/fonts/BMWTypeNext-Medium.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "bmwTypeNextWeb";
  font-style: normal;
  font-weight: 700;
  src:
    url("https://www.bmw.ca/etc.clientlibs/bmw-web/clientlibs/clientlib-site/resources/fonts/BMWTypeNext-Bold.woff2") format("woff2"),
    url("https://www.bmw.ca/etc.clientlibs/bmw-web/clientlibs/clientlib-site/resources/fonts/BMWTypeNext-Bold.woff") format("woff");
}

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  font-family: "bmwTypeNextWeb", "Arial", "Helvetica", "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.625rem;
  letter-spacing: 0;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
    font-family: "bmwTypeNextWeb", "Arial", "Helvetica", "Roboto", sans-serif;
    letter-spacing: 0;
    line-height: 1.18;
    font-weight: 300;
    text-transform: none;
  }

  h1 {
    font-size: clamp(2.25rem, 1.8rem + 1.8vw, 3.5rem);
  }
  h2 {
    font-size: clamp(1.75rem, 1.45rem + 0.8vw, 2.5rem);
  }
  h3 {
    font-size: clamp(1.25rem, 1.1rem + 0.35vw, 1.4375rem);
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

.site-main {
  padding-top: 1.5rem;
  padding-bottom: 4rem;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
